.bg-custom1 {
  background-color: #af7108;
}
.bg-menu {
  background-color: #af7108;
}
.bg-custom2 {
  height: 7vh;
  background-color: #f19a0b;
}
.bg-cont {
  background-color: #f19a0b;
}
.top-bar,
.bottom-bar {
  height: 50%;
}
.custom-h {
  height: 86vh;
}
.btn-fixed-width {
  width: 200px; /* Ajusta el ancho según tus necesidades */
}
.logo {
  width: 25%;
}
.text {
  font-family: 'Pacifico', cursive;
}
.subtext {
  font-family: 'Roboto Condensed', sans-serif;
}
.btn-circle-flecha {
  background: rgb(0, 0, 0);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* Estilo para la flecha */
.arrow-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #f19a0b;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}
.font{
  font-size: 12px;
}
.bot{
  width: 88px;
}
.arrow-wrapper:hover {
  background-color: #eba62e;
}

.arrow {
  position: relative;
  font-size: 24px;
  top: -2px;
  font-size: 24px;
}
.textled{
  text-shadow: 1px 5px 10px rgb(250, 204, 0)
}
.led{
  box-shadow: 0px 0px 100px rgba(250, 204, 0, 0.788) ;
}
/* Animación para que aparezca suavemente */
@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 540px) {
  .custom-h {
    height: 86vh;
  }
  .conte {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 21px;
  }
  .arrow-radio{
    font-size: 25px;
  }
  .s{
    display: none;
  }
  
}
@media screen and (max-width: 540px) {

  .fondopc{
    background-image: url("../img-redux/fondo2-min.jpg");
    background-size: cover;
  }
}